@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

.banner {
	position: absolute;
	left: 0;
	top: 0;
	height: 16vh;
	width: 100vw;
	padding: 0;
	color: #FFFFFF;
	background: url(../images/banner_background.jpg) 50% 50% no-repeat;
	background-size: cover;
} 


.banner_title {
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
	font-size: 8vw;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-style: italic;
}


@media all and (max-width: 699px) {
	.banner_title {
		font-size: 8vw;
	}
}

@media all and (min-width: 700px) {
	.banner_title {
		font-size: 3vw;
	}
}

.banner_subtitle {
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@media all and (max-width: 699px) {
	.banner_subtitle{
		font-size: 5vw;
	}
}

@media all and (min-width: 700px) {
	.banner_subtitle {
		font-size: 2vw;
	}
}


.header_seperator {
	background-color: #275D6E;
	position: absolute;
	left: 0;
	top: 16vh;
	height: 2vh;
	width: 100vw;
	padding: 0;
}

.config {
	position: absolute;
	left: 0;
	right: 0;
	top: 18vh;
	width: 15vw;
	height: 80vh; 
	background: #D7CEC7;
	padding: 5px;
	color: #D7CEC7;
	overflow-y: auto;
	margin:0;
}

#cy {
	position: absolute;
	left: 17vw;
	top: 18vh;
	right:0px;
	bottom:0px;
	padding: 10px
}

.game {
	position: absolute;
	left: 17vw;
	width: 100vw;
	top: 18vh;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.legend {
	position: absolute;
	bottom: 1cm;
	right: 1cm;
	height: 17em;
	width: 15em;
	background: #D7CEC7;
	padding: 5px;
	color: : #D7CEC7;
	z-index
	=
	2;
}

.instructions {
	position: absolute;
	font-size: 1.0vw;
	margin: 5px;
	left: 68vw;
	top: 23.5vh;
	height: 15vh;
	width: 30vw;
	background: #D7CEC7;
	padding: 5px;
	color: : #D7CEC7;
	z-index
	=
	2;
}

@media all and (max-width: 699px) {
	.instructions{
		font-size: 3vw;
		height: 50vh;
	}
}

@media all and (min-width: 700px) {
	.instructions {
		font-size: 1vw;
		height: 15vh;
	}
}

#cy_legend {
	position: absolute;
	bottom: 0cm;
	right: 0;
	height: 17em;
	width: 15em;
	z-index
	=
	2;
}

.panelHeader {
	text-align: center;
	background-color: #565656;
	color: white;
	border: solid 1px #D7CEC7;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@media all and (max-width: 699px) {
	.panelHeader {
		font-size: 2.5vw;
	}
}

@media all and (min-width: 700px) {
	.panelHeader {
		font-size: 1.7vw;
		padding: 2px;
	}
}


.panel, .flip {
	margin-top: 3px;
	text-align: center;
	background-color: #565656;
	border: solid 1px #565656;
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@media all and (max-width: 699px) {
	.panel, .flip {
		font-size: 2.0vw;
	}
}

@media all and (min-width: 700px) {
	.panel, .flip {
		font-size: 1.5vw;
		padding: 5px;
	}
}


.panel {
	display: none;
	justify-content: center;
}


.panel_border {
	border: thin solid white; 
}

@media all and (max-width: 699px) {
	.panel_border {
		padding:0px; 
		margin-top: 0px;
	}
}

@media all and (min-width: 700px) {
	.panel_border {
		padding:3px; 
		margin-top: 3px;
	}
}

.label_text {
	text-color: black;
	color: black;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	line-height: 10px;
	padding: 0px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@media all and (max-width: 699px) {
	.label_text {
		font-size: 3vw;
	}
}

@media all and (min-width: 700px) {
	.label_text {
		font-size: 1.5vw;
	}
}

.button_label {
	margin: auto;
	vertical-align: bottom;
	display: inline-block;
	margin-bottom: 0px;
	margin-top: 0px;
	text-color: black;
	color: black;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@media all and (max-width: 699px) {
	.button_label {
		font-size: 2.2vw;
	}
}

@media all and (min-width: 700px) {
	.button_label {
		font-size: 1.5vw;
	}
}

.button {
	flex-grow: 1;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;	
}

@media all and (max-width: 699px) {
	.button {
		font-size: 2.2vw;
		height:5vh;
	}
}

@media all and (min-width: 700px) {
	.button {
		font-size: 1.2vw;
		height:3.5vh;
	}
}

.switch {
	position: relative;
	display: inline-block;
	height: 3vh;
	text-color: black;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

@media all and (max-width: 699px) {
	.switch {
		width: 8vw;
	}
}

@media all and (min-width: 700px) {
	.switch {
		width: 5.3vw;
	}
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #565656;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 2.6vh;
	left: 0.1vw;
	bottom: 0.1vh;
	background-color: white;
	transition: .4s;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

@media all and (max-width: 699px) {
	.slider:before {
		width: 3vw;
	}
}

@media all and (min-width: 700px) {
	.slider:before {
		width: 1.5vw;
	}
}


input:checked+.slider {
	background-color: #3071a9;
}

input:focus+.slider {
	box-shadow: 0 0 1px #3071a9;
}


@media all and (max-width: 699px) {
	input:checked+.slider:before {
		transform: translateX(5vw);
	}
}

@media all and (min-width: 700px) {
	input:checked+.slider:before {
		transform: translateX(3.6vw);
	}
}

input[type=range] {
	-webkit-appearance: none;
	width:100%;
}

input[type=range]::-webkit-slider-runnable-track {
	height: 1.5vh;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 3vh;
	width: 1.5vw;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -1vh;
}

@media all and (max-width: 699px) {
	input[type=range]::-webkit-slider-thumb {
		width: 3vw;
	}
}

@media all and (min-width: 700px) {
	input[type=range]::-webkit-slider-thumb {
		width: 1.5vw;
	}
}


